.contenedor-iconos{
    position: relative;
    display: flex;
    justify-content: space-between;
}
.to-izquierda{
    align-items: center;
}
.icono-corazon{
    justify-content: start;
    font-size: 30px;
    margin-left: 10px;
}
.icono-comentar{
    justify-content: start;
    font-size: 30px;
    margin-left: 10px;
    
}
.icono-compartir{
    font-size: 30px;
    margin-left: 10px;
}
.to-derecha{
    align-items: center;
}
.icono-guardar{
  
    font-size: 30px;
    margin-right: 10px;
}
