.publicacion{
    margin: auto;
    margin-top: 100px;
    text-align: center;
    width: 400px;
    height: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
}

@media(max-width: 768px){
    .publicacion{
        margin-top: 0px;
        width: 100%;   
    }
}
