.contenedor-iconos{
    position: relative;
    height: 40px;
}
.icono-corazon{
    float: left;
    font-size: 30px;
    margin-left: 10px;
    margin-top: 5px;
}
.icono-comentar{
    float: left;
    font-size: 30px;
    margin-left: 10px;
    margin-top: 5px;
}
.icono-compartir{
    float: left;
    font-size: 30px;
    margin-left: 10px;
    margin-top: 5px;
}
.icono-guardar{
    float: right;
    font-size: 30px;
    margin-right: 10px;
    margin-top: 5px;
}