.contenedor-foto{
    position: relative;
    width: 100%;
    text-align: center;
}
.foto-post{
    position: relative;
    margin: auto;
    width: 400px;
}

@media(max-width: 768px){
    .foto-post{
        width: 100%;
    }
}