.footer-post{
    display: flex;
    flex-direction: column;
}
.quienes-dieron-like{
    position: relative;
    display: flex;
    justify-content: start;
    margin-top: 10px;
    margin-bottom: 5px;
    
}
.parrafo-like{
    float: left;
    margin-left: 5px;
    font-size: 13px;
}

.parrafo-like > span {
    font-weight: bold;
}

